.Calendar {
    height: 90vh;
    font-size: 14px;
}

.view-select {
    z-index: 10;
    min-width: auto;
    width: max-content;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
    background: #00CCC0;
    color: #0D0D0D;
}

.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
    outline: none;
    border: none;
}

.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
    background: #73F2EB;
    z-index: 14;
}

.rbc-ellipsis,
.rbc-show-more,
.rbc-row-segment .rbc-event-content,
.rbc-event-label {
    color: #0D0D0D;
}

#selected-event {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 0px 64px rgba(13, 13, 13, 0.25);
    border-radius: 16px;
    padding: 20px;
    z-index: 15;
}

.modal-backdrop.show {
    opacity: 0 !important;
}

.rbc-btn-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 1em;
    font-weight: 500;
}

.rbc-btn-group {
    display: flex;
}

.allday {
    background-color:yellow;
}

.powderBlue {
    background-color: powderblue;
}

.darkGreen {
    background-color: darkgreen;
}

.color-point {
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius: 50%;
}

.rbc-event-content {
    font-weight: 500;
}