.c-logo-day {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #0D0D0D;
    left: 25%;
    right: 25%;
    top: 30%;
    bottom: 10%;
    width: max-content;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
}

.c-logo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: max-content;
    height: max-content;
}