.Calendar {
    height: 90vh;
    font-size: 14px;
    display: flex;
}

.rbc-calendar {
    background-color: var(--bs-white);
}

.view-select {
    z-index: 10;
    min-width: auto;
    width: max-content;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
    background: transparent;
    color: #0D0D0D;
}

.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
    outline: none;
    border: none;
}

.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
    z-index: 14;
    box-shadow: 0px 0px 15px rgba(13, 13, 13, 0.25), 0px 0px 1000px rgba(255, 255, 255, 0.15) inset;
}

.rbc-ellipsis,
.rbc-show-more,
.rbc-row-segment .rbc-event-content,
.rbc-event-label {
    font-size: 0.8rem;
    color: #0D0D0D;
}

.modal-backdrop.show {
    opacity: 0 !important;
}

.rbc-btn-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 1em;
    font-weight: 500;
}

.rbc-btn-group {
    display: flex;
}

.powderBlue {
    background-color: powderblue;
}

.darkGreen {
    background-color: darkgreen;
}

.color-point {
    height: 0.7rem;
    width: 0.7rem;
    background-color: gray;
    border-radius: 50%;
}

.color-point.full {
    width: 100%;
    border-radius: 0.5rem;
}

.rbc-event-content {
    font-weight: 500;
}

.rbc-date-cell {
    text-align: center;
}

.rbc-date-cell .rbc-button-link[role='cell']:hover,
.rbc-date-cell .rbc-button-link[role='cell']:focus {
    background: #c0c0c04d;
}

.rbc-date-cell .rbc-button-link[role='cell']:active {
    background: #7480804D;
}

.rbc-date-cell .rbc-button-link[role='cell'] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.rbc-day-bg.rbc-today {
    background: #FF49580d;
}

.rbc-now .rbc-button-link[role='cell'] {
    background: #FF495880;
    font-weight: 500;

}

/* .rbc-button-link[role='cell'] {
    margin-left: auto;
    margin-right: auto;
} */