#dropdown-item-button {
    opacity: 0;
}

.dropdown-wrapper {
    position: relative;
}

.dropdown-item-text {
    width: max-content;
}
.dropdown {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
