.header,
.time,
.time-add-ons,
.category {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
}

.category>button[type="button"] {
    padding: 10px 15px;
    background: rgba(116, 128, 128, 0.1);
    border-radius: 4px;
    outline: none;
    border: none;
    color: var(--black);
    text-transform: capitalize;
}

.category>button[type="button"].active {
    background: rgba(26, 127, 121, 0.3);
}

.react-datepicker-wrapper {
    width: max-content;
}

input {
    border: none;
    outline: none;
    border-radius: 4px;
}

.react-datepicker__input-container>input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: min-content;
    background: rgba(116, 128, 128, 0.1);
    font-size: 1rem;
    color: var(--black);
}

input[type='time'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: max-content;
    background: rgba(116, 128, 128, 0.1);
    border-radius: 4px;
}

.header>input {
    box-sizing: border-box;
    display: block;
    padding: 10px 15px;
    min-width: 45%;
    max-width: 60%;
    background: #FFFFFF;
    border-bottom: 1px solid #D5D8DE;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

button[type='submit'] {
    padding: 10px 15px;
    background: var(--dark-green);
    border-radius: 4px;
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
}

.check-label {
    position: relative;
    display: flex;
    gap: 15px;
}

.check-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

input[type='checkbox'] {
    visibility: hidden;
}

@media screen and (max-width: 575px) {
    .react-datepicker__input-container {
        position: static;
    }

    .react-datepicker__triangle {
        display: none;
    }

    .react-datepicker-popper {
        transform: translate3d(-50%, -50%, 0px);
        top: 40%;
        left: 50%;
    }

    .react-datepicker,
    .react-datepicker__month,
    .react-datepicker-popper,
    .react-datepicker__month-container {
        width: 100%;
    }

    .react-datepicker__input-container>input {
        padding: 10px;
    }
}