.ne-marker {
    box-sizing: border-box;
    min-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ne-color-marker {
    width: 15px;
    height: 15px;
    display: inline-block;
    content: '';
    border: 4px solid grey;
    border-radius: 50%;
}

.ne-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

#new-event {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 0px 64px rgba(13, 13, 13, 0.25);
    border-radius: 16px;
    z-index: 15;
    width: 30%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 2% 2%;
    gap: 15px;
}

#new-event>* {
    width: 100%;
}