.se-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;
}

.se-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
.se-icon {
    width: 24px;
    height: 24px;
    color: #5F6868;
}

.se-icon-large {
    width: 35px;
    height: 35px;
    padding: 6px;
    border-radius: 50%;
}

.se-icon-btn.se-close {
    color: #0D0D0D;
}

.se-icon-btn:focus,
.se-icon-btn:hover {
    background: #c0c0c04d;
}

.se-icon-btn:active {
    background: #7480804D;
}

.se-marker {
    box-sizing: border-box;
    min-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.se-color-marker {
    width: 15px;
    height: 15px;
    display: inline-block;
    content: '';
    border: 4px solid grey;
    border-radius: 50%;
}

.se-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 100%;
}

.se-title {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #0D0D0D;
    margin-bottom: 10px;
    text-align: left;
}

.se-text {
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 1.15rem;
    color: #0D0D0D;
    text-align: start;
}

#selected-event {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 0px 64px rgba(13, 13, 13, 0.25);
    border-radius: 16px;
    z-index: 15;
    width: 30%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 2% 2%;
    gap: 15px;
}

#selected-event>* {
    width: 100%;
}

