@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Prompt:wght@300;400;500;600;700;800;900&family=Signika+Negative:wght@300;400;500;600;700&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: #F1F1F1;
}


:root {
  --black: #0D0D0D;
  --dark-green: #1A7F79;
  --dark-pink: #C93D48;
  --dark-grey: #5F6868;
  --dark-grey-15: #5F686826;
  --dark-grey-25: #5F686840;
  /* --bs-body-bg: #f1f1f1; */
}

body {
  /* font-family: 'Signika Negative', sans-serif; */
  /* font-family: 'Prompt', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Work Sans', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

a {
  text-decoration: none;
}

button {
  font-size: initial;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
}

button:hover {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.25);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.alert {
  position: absolute;
  bottom: 0;
  width: fit-content;
  z-index: 100;
}

.alert::after {
  content: '';
  height: 100%;
  width: 100%;
  border-bottom: 5px solid var(--bs-alert-color);
  border-bottom-left-radius: 0.375rem;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: timer-progress 3s linear 0.05s;
}

@keyframes timer-progress {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 8px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;

  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: var(--dark-green)
}

.nav-link.dark {
  color: #FFFFFF;
  background: var(--dark-green);
}

.navbar-light-green {
  background-color: #1A7F791A;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;
}

.menu-btn {
  color: var(--black);
  cursor: pointer;
}

.iconify-btn:hover {
  background-color: var(--dark-grey-15);
}

.iconify-btn:active {
  background-color: var(--dark-grey-25);
}

.iconify-circle {
  border-radius: 50%;
  box-sizing: border-box;
  padding: 2%;
}

.newPost__avatar,
img.profile-avatar,
img.user-tile__user-avatar {
  object-fit: cover;
  width: 44px;
  height: 44px;
  /* border-radius: 18px; */
}

.profile-login {
  text-transform: none;
}